---
import '/src/styles/global.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Terms</title>
</head>
<body>
    <h1>Tech Terms</h1>
    <p>A collection of tech terms and their definitions</p>
</body>
</html>
