---
import '../styles/global.css';
import CategoriesFilter from '../components/CategoriesFilter.astro';
import ContributeCard from '../components/ContributeCard.astro';
import DefinitionsGrid from '../components/DefinitionsGrid.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Headline from '../components/Headline.astro';
import Sidebar from '../components/Sidebar.astro';
import StatsCard from '../components/StatsCard.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Terms</title>
  </head>
  <body>
    <Header />
    <main>
      <Sidebar />

      <div class="page">
        <Headline />
        <CategoriesFilter />
        <DefinitionsGrid />
        <ContributeCard />
        <StatsCard />
        <Footer />
      </div>
    </main>
  </body>
</html>
