---
import ContributeButton from './ContributeButton.astro';
---

<div class="rounded-lg bg-white p-4 shadow-md">
  <h3 class="mb-6 text-lg font-bold">Get Involved!</h3>
  <p class="mb-2 text-sm text-gray-900">
    <strong>Tech Terms</strong> is an open source ment to help people understand difficult tech terms.
  </p>
  <p class="mb-6 text-sm text-gray-900">
    <strong>Do you have experience in tech?</strong> Come help us! Contribute to our repository and be
    part of the community!
  </p>
  <div class="flex items-center justify-center">
    <ContributeButton label="Contribute to Tech Terms" />
  </div>
</div>
