---
import DefinitionCard from './DefinitionCard.astro';
import type { Definition } from '../models/Definition';

interface Props {
  definitions: Definition[];
}

const { definitions } = Astro.props;
---

<div class="container mx-auto px-8 py-8">
  <div class="grid grid-cols-1 gap-12">
    {definitions.map(definition => <DefinitionCard definition={definition} />)}
  </div>
</div>
