---
const year = new Date().getFullYear();
---

<footer class="mb-6 text-center text-sm">
  <span class="color-gray-600">Copyright (c) {year} Tech Terms Community</span> | <a
    href="https://github.com/techterms/techterms"
    target="_blank"
    rel="noopener noreferrer">Github</a
  > | <a href="https://x.com/techtermsio" target="_blank" rel="noopener noreferrer">X</a>
</footer>
