<div>
  <div class="container mx-auto px-8 pt-8">
    <div class="flex items-center justify-between">
      <div class="relative w-full">
        <input
          type="search"
          placeholder="Search definitions..."
          class="w-full rounded-lg border border-gray-200 px-4 py-3 pl-10 text-sm focus:border-blue-300 focus:outline-none"
        />
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/scripts/search.ts"></script>
