---
import Analytics from '../components/Analytics.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Terms</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="min-h-screen">
    <slot />
    <Analytics />
  </body>
</html>
